.home-banner {
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 12vh;
}

.home-banner-h1 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 69px;
  color: #E64C3C;
  margin-bottom: 1rem;
}

.home-banner-img {
  margin-bottom: 1rem;
}

.home-banner-h2 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  color: #E64C3C;
  margin-bottom: 2rem;
}
