.navbar {
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-white {
  background-color: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.logo-navbar {
  background-image: asset-url('logo.png');
  background-size: cover;
  height: 42px;
  width: 263px;
}

.searchbar-navbar {
  background-image: asset-url('searchbar.png');
  background-size: cover;
  height: 40px;
  width: 242px;
}
